.header{
    background: white;
    padding: 10px;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 100;
}
.logo{
    float: left;
}
.menu-flotante{
float: right;
}
.enlace{
    display: inline-block;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 25px;
    text-decoration:none;
    color: rgb(227, 42, 42);
}
.banner01{
    position: relative;
}
.banner01 img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
@media (max-width: 768px) {
  .banner01 {
    max-width: 100%;
  }
}
.boton {
  position: absolute; 
  top: 100%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  padding: 12px 24px; 
  background-color: rgb(227, 42, 42); 
  color: #ffffff; 
  text-decoration: none; 
}
@media (max-width: 768px) {
  .boton {
  font-size: 24px;
  }
}
.banner-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  text-align: center;  
 }

 .banner-text h1 {
  font-family: comfortaa;
  font-size: 140px; 
  margin-bottom: 10px;
  color: white;
}
.banner-text h2 {
  font-family: montserrat;
  font-weight: 700;
  font-size: 35px; 
  color: white;
}
 @media (max-width: 768px) {
   .banner-text {
   font-size: 24px;
   }
 }
.body{
  font-family: 'Montserrat', sans-serif;
    }
.iconos {
   display: grid;
   grid-template-columns: repeat(4, 1fr); 
   gap: 5px; 
   justify-items: center; 
   align-items: center; 
   padding-left: 35%;
    padding-right: 35%;
   }
    
.icono {
    text-align: center;
    }
      
 .icono img {
    max-width: 30%; 
 }
      
 .icono h2 {
    margin-top: 15px; 
   }
.reserva{
    background: lightgray;
}

.mapa-contenido {
    width: 940px;
    margin: 0 auto;
    }

    
