.body{
  font-family: Montserrat;
}
.header{
    background: white;
    padding: 10px;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 100;
}
.logo{
    float: left;
}
.menu-flotante{
float: right;
}
.enlace{
    display: inline-block;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 25px;
    text-decoration:none;
    color: rgb(227, 42, 42);
}
.banner01{
    position: relative;
}
.banner01 img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
@media (max-width: 768px) {
  .banner01 {
    max-width: 100%;
  }
}
.boton {
  position: absolute; 
  top: 100%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  padding: 10px 20px; 
  background-color: rgb(227, 42, 42); 
  color: #ffffff; 
  text-decoration: none;
  font-weight: 700;
  cursor: pointer; 
}
@media screen and (max-width: 768px) {
  .boton {
  font-size: 14px;
  }
}
.banner-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  text-align: center;  
 }

 .banner-text h1 {
  font-family: comfortaa;
  font-size: 140px; 
  margin-bottom: 10px;
  color: white;
}
.banner-text h2 {
  font-family: montserrat;
  font-weight: 700;
  font-size: 35px; 
  color: white;
}
 @media (max-width: 768px) {
   .banner-text h1 {
   font-size: 14px;
   }
 }
 @media (max-width: 768px) {
  .banner-text h2 {
  font-size: 14px;
  }
}
.iconos {
   display: grid;
   grid-template-columns: repeat(4, 1fr); 
   gap: 5px; 
   justify-items: center; 
   align-items: center; 
   padding-left: 35%;
    padding-right: 35%;
   }
    
.icono {
    text-align: center;
    }
      
 .icono img {
    max-width: 30%; 
 }
 .icono h2 {
    margin-top: 15px; 
   }
   .containernos {
    display: flex;
    padding-bottom: 10%;
    padding-top: 5%;
  }
  .contentnos {
    flex: 1;
    padding: 20px;
    align-items: flex-start; 
    height: 100px;
  }
  .titulo02 {
   font-weight: 700;
    margin: 10px 0 10px;
    
  }
  .subtitulo02 {
    font-weight: 700;
    margin: 10px 0 30px;
    padding-top: 20px;
  }
  .parrafo {
    padding-top: 2%;
    font-weight: 400;
    margin: 5px 0 20px; 
  }
  .button01 {
    font-size: 16px;
    margin-bottom: 30px ;
    background-color: rgb(227, 42, 42);
    color: #fff;
    padding: 10px 10px;
    border: none;
    text-decoration: none;
    cursor: pointer; 
  }
  .image01 {
    flex: 1;
    text-align: right;
  }
  .image01 img {
    max-width: 100%;
    height: auto;
  }
  .containernos01 {
    display: flex;
    background-color: rgb(26, 3, 3);
    color: #fff; 
    padding: 10%;
  }
  .contentnos01 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) ;
    text-align: center;   
    height: 100px;
  }
  .titulo03 {
   font-weight: 700;
    margin: 10px 0 10px;
    
  }
  .parrafo01 {
    padding-top: 2%;
    font-weight: 400;
    margin: 5px 0 20px; 
  }
  .button03 {
    font-size: 16px;
    margin-bottom: 30px ;
    background-color: rgb(227, 42, 42);
    color: #fff;
    padding: 10px 10px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    
  }
  
  .boton03 {
    flex: 1;
    text-align: center;
    margin-top: 10%;
  }
  
  .boton03 img {
  max-width: 100%;
  height: auto;
  }
.destacados{
  padding: 10% 0 2% 1%;
  
}
.slider {
  margin-right: 60%;
  max-width: 615px; 
  overflow: hidden; 
}
.slider-list {
  display: flex; 
  transition: transform 0.5s ease-in-out; 
}
.slider-item {
  flex: 0 0 100%; 
}
@keyframes slider {
  0% { transform: translateX(0%); }
  25% { transform: translateX(0%); }
  30% { transform: translateX(-100%); }
  55% { transform: translateX(-100%); }
  60% { transform: translateX(-200%); }
  85% { transform: translateX(-200%); }
  90% { transform: translateX(-300%); }
  100% { transform: translateX(-300%); }
}

.slider-list {
  animation: slider 10s infinite;
}

.mapa-contenido {
  width: 980px;
    margin: 0 auto;
    padding: 10%;
    }
@media screen and (max-width: 768px) {
 .mapa-contenido { width: auto;
      }
    }
.info{
text-align: left;
margin-left: 3%;
  }
.second-footer{
position: relative;
background-color:rgb(227, 42, 42);
padding-top: 10px;
padding-bottom: 10px;
  }
.footer-text{
  color: #fff;
  text-align: center;
  font-size: x-small;
}
