#contenedorApi label{
    font-family: montserrat;
}

#bsas{
    padding-left: 100px;
}

#osaka{
    padding-left: 60px;
}

#hora1{
    padding-left: 130px;
}

#hora2{
    padding-left: 150px;
}

#tempba{
    padding-left: 105px;
}

#tempok{
    padding-left: 150px;
}

#sensba{
    padding-left: 50px;
}

#sensok{
    padding-left: 140px;
}

#condba{
    padding-left: 80px;
}

#condok{
    padding-left: 40px;
}

#imgba{
    padding-left: 190px;
}

#imgok{
    padding-left: 120px;
}